<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :번호 %>
    <%= f.number_field :번호 %>
  </div>

  <div class="field">
    <%= f.label :제목 %>
    <%= f.text_field :제목 %>
  </div>

  <div class="field">
    <%= f.label :내용 %>
    <%= f.text_field :내용 %>
  </div>

  <div class="field">
    <%= f.label :작성자 %>
    <%= f.text_field :작성자 %>
  </div>

  <div class="field">
    <%= f.label :작성시간 %>
    <%= f.datetime_select :작성시간 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
